h3 {
  margin-left: 15px
}

.fileInput {

  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  max-height: 5px;
  max-width: 5px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}

img {
  width: 10%;
  height: 10%;
}

.previewText {
  width: 100%;
  margin-top: 20px;
}


.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.submitButton:hover {
  background: #efefef
}

.centerText {
  text-align: center;
  width: 500px
}


.nav-bar {
  height: 50px;
}
.nav-bar img {
  margin-right: 15px !important;
}
.main-grid {
  position: absolute;
  height: 100%;
}
.login-container {
  background: #eff8fb;
  height: 100%;
  position: fixed;
  padding-top: 50px;
}

.graph-container {
  background-color: #ffffff;
  padding: 1em !important;
}

.graph-box {
  box-shadow: rgba(0,0,0,0.12) 0px 1px 6px,
  rgba(0,0,0,0.12) 0px 1px 4px
}

/*Columns*/
.patient-column {
  background-color: #eff8fb;
  height: 100%;
  overflow-y: scroll;
  padding: 1em 2em !important;
}

.patient-column, .nurse-column {
  height: 100%;
  overflow-y: scroll;
  padding: 1em 2em !important;
}

/*Patient*/
.patient-card {
  padding: 1em !important;
}
.patient-card .content {
  padding: 0px !important;
  position: relative;
}
.patient-card .content .description {
  margin-bottom: 30px;
}
.patient-card .content .dropdown {
  position: absolute;
  bottom: 0;
  right: 0;
}
.patient-card .acuity-rating {
  text-align: center;
}
.patient-card .acuity-rating .label-text {
  font-size: 0.5em;
}

.right-btn {
  position: absolute;
  right: 0px;
  padding: 10px;
}
